html,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
  background-color: white;
  line-height: 1.6;
  font-family: Montserrat-Regural;
}

p {
  line-height: 30px;
  font-family: Montserrat-Regural;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
strong {
  font-family: 'Montserrat-Medium';
}
@font-face {
  font-family: ITC-Garde-Bold;
  src: url("../font/ITCAvantGardeStd-Bold.ttf");
}
@font-face {
  font-family: ITC-GardePro-Bold;
  src: url("../font/ITCAvantGardePro-Md.woff");
}
@font-face {
  font-family: Montserrat-Light;
  src: url("../font/Montserrat-Light.woff2");
}
@font-face {
  font-family: Montserrat-Regural;
  src: url("../font/Montserrat-Regular.woff2");
}
@font-face {
  font-family: Montserrat-Medium;
  src: url("../font/Montserrat-Medium.woff2");
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url("../font/Montserrat-SemiBold.woff2");
}
@font-face {
  font-family: Montserrat-Bold;
  src: url("../font/Montserrat-Bold.woff2");
}
@font-face {
  font-family: Montserrat-ExtraBold;
  src: url("../font/Montserrat-ExtraBold.woff2");
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #292929;
}

body::-webkit-scrollbar-thumb {
  background-color: #0047c4;
  /* outline: 1px solid slategrey; */
  border-radius: 12px;
}

header {
  display: flex;
  justify-content: end;
}
.top-nav {
  background-color: #292929;
  width: 68%;
  clip-path: polygon(0 0, 102% 0%, 103% 100%, 3% 100%);
}
.navButton a {
  font-family: Montserrat-Bold;
}
.LiveBTN {
  background-color: #006613;
  font-family: ITC-GardePro-Bold;
  
}
.hero-section .LiveBTN {
  padding: 11px 24px;
  transition: all 0.2s ease-in-out;
  border: none;
}
.nav-item .btn {
  padding: 12px 24px;
  transition: all 0.2s ease-in-out;
  font-size: 14px;
}
.LiveBTN:hover {
  background-color: #0047c4;
  color: white;
}
.OrderBTN {
  background-color: #0047c4;
  font-family: ITC-GardePro-Bold;
}
.parent-icons i {
  color: #006613 !important;
}
.OrderBTN:hover {
  background-color: #006613;
}
.parent-icons {
  padding: 10px 0 10px 30px;
  gap: 50px;
}
.top-nav .nav-left {
  padding: 10px 0;
}
.top-icons a span {
  font-size: 14px;
  color: #858181;
}
button.btn,
a.btn {
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 #006613;
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  /* 100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #006613;
	} */
}
i.fa-facebook {
  padding: 8px 27px;
  width: 35px;
  display: flex;
  justify-content: center;
}
.top-icons:hover a span {
  color: white;
  transition: all 0.2s ease-in-out;
  fill: white;
}
.parent-icons > .top-icons:hover i {
  color: white !important;
}
.top-icons:hover i {
  background-color: #06891e;
  color: white;
}
.top-icons i {
  background-color: white;
  padding: 7px 9px;
  border-radius: 100%;
  color: black;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
  animation: img_move 1s infinite alternate;
}
.top-icons a {
  color: white;
}
.top-icons svg {
  width: 20px;
  height: 20px;
}
.top-icons:hover svg {
  fill: white;
}

.navbar {
  background-color: white;
  /* padding: 15px; */
}
.dropdown-content option {
  font-family: 'Montserrat-Regural';
  font-weight: 700;
  /* color: white; */
}
.navunique {
  z-index: 2;
  position: relative;
}
.navbar-brand img {
  width: 85%;
  margin-top: -25px;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-link {
  color: black;
  font-weight: bold;
  margin-right: 15px;
}

.nav-link a {
  font-family: Montserrat-Regural;
}

.navbar-nav .dropdown {
  position: relative;
  display: inline-block;
}

.navbar-nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  color: white;
  background-image: url(../img/banner.png);
  /* backdrop-filter: blur(0px); */
  /* opacity: 128; */
  border-radius: 5px;
  width: 720px;
  /* margin-top: 14px; */
}
.navDrop {
  padding: 20px 0;
}
.navbar-nav .dropdown-content a {
  color: white;
  padding: 8px 0;
  display: block;
}
.navbar-nav .dropdown-content a:hover {
  color: #06891e;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.navbar-nav .nav-link:hover {
  color: green;
}

.navbar-nav .btn {
  margin-left: 15px;
  font-weight: bold;
}

.hero-section {
  /* background-color: #004aad; */
  background-image: url("../img/banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 79vh;
  color: white;
  padding: 10rem 0;
  text-align: center;
  position: relative;
}
.banner-2 {
  /* background-color: #004aad; */
  background-image: url(../img/banner-2.png);
  height: auto;
  background-size: cover;
  padding: 15rem 0;
}
.blog-banner {
  background-image: url(../img/blog-banner.png);
  height: auto;
  background-size: cover;
  padding: 15rem 0;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-blogs{
  background-image: url(../img/our-banner.png);
  height: auto;
  background-size: cover;
  padding: 11rem 0;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-banner {
  background-image: url("../img/contact-banner.png");
  padding: 16rem 0;
  height: auto;
}
.revision-banner {
  background-image: url("../img/revision-banner.png");
  padding: 16rem 0;
  height: auto;
}
.term-banner {
  background-image: url("../img/terms-banner.png");
  padding: 16rem 0;
  height: auto;
}
.pricing-banner {
  background-image: url("../img/pricing-banner.png");
  padding: 16rem 0;
  height: auto;
}
.client-banner {
  background-image: url("../img/client-banner.png");
  padding: 16rem 0;
  height: auto;
}
.sec-service {
  padding-bottom: 3rem;
  margin-top: -100px;
}
.sec-service .row .col-xxl-6 {
  display: flex;
  justify-content: center;
}
.service-heading {
  margin-bottom: 100px;
}
.service-content h3 {
  font-size: 40px;
  font-family: 'ITC-Garde-Bold';
}
.main-content h4 {
  font-size: 28px;
  font-family: 'ITC-Garde-Bold';
}
.main-content ul p {
  font-family: 'ITC-GardePro-Bold';
  padding: 8px 0;
}
.main-content ul li {
 list-style: disc;
}
.hero-section .service-heading  > img {
  margin-top: -25px;
  width: 45px;
}
.blog-content p {
  font-weight: 500 !important;
}
.blog-banner .toFooter {
  left: 49%;
  bottom: 124px;
}
.hero-section h1 {
  font-size: 50px;
  font-weight: bold;
  /* font-family: ITC-GardePro-Bold; */
  font-family: "ITC-Garde-Bold";
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 65px;
}
.hero-section p {
  padding: 1rem 0;
}

.toFooter {
  position: absolute;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  left: 49%;
  bottom: 55px;
  animation: shake 1.5s infinite;
}

@keyframes shake {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.hero-section h1 > img {
  animation: img_move 1s infinite alternate;
  margin-top: -50px;
}

@keyframes identifier {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* .price-section  */

.price-section {
  background-color: #f8f9fa;
  padding: 40px 0;
}

.price-section h2 {
  font-family: "ITC-Garde-Bold";
  font-size: 50px;
  font-weight: 900;
  color: black;
}

.price-card {
  border-radius: 25px !important;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.cards-bg {
  background-color: #464646;
  border-radius: 25px 25px 0 0 !important;
  transition: all 0.2s ease-in-out;
}

.price-card h4 {
  font-weight: bold;
  padding: 8px 0;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
}

.price-card h3 {
  color: #464646;
  font-size: 2rem;
  font-weight: bold;
  font-family: "ITC-GardePro-Bold";
  letter-spacing: 1px;
  font-size: 40px;
}
.price-section p {
  font-family: Montserrat-Regural;
  color: #222222;
  font-weight: 600;
}

.price-card :hover h3,
.price-card,
.cards-bg {
  color: #006613;
}
.price-card:hover {
  border-radius: 0 0 25px 25px !important;
  border-bottom: 4px solid #006613 !important;
  color: #006613;
}

.price_BTN a {
  padding: 12px 24px;
  border: none;
}
.price_BTN a:hover {
  color: white;
}

.price-card:hover .cards-bg {
  background-color: #006613;
  color: white;
}

.card-body {
  padding: 0;
  padding: 0;
  border-left: 1px solid #0047c4;
  border-right: 1px solid #0047c4;
  border-radius: 25px;
  border-bottom: 4px solid #0047c4;
}
.card-title {
  margin: 0;
}
.form-bg {
  background-color: #0047c4;
  padding: 10px 0;
  text-align: center;
  color: white;
  border-radius: 25px 25px 0px 0px;
}
.form-bg h6 {
  font-family: ITC-GardePro-Bold;
  font-size: 30px;
  font-weight: 900;
  padding: 10px 0;
  letter-spacing: 2px;
}
.card {
  width: 90%;
  background-color: #fff;
  border: none;
  border-radius: 12px;
  height: auto;
}
label.radio {
  cursor: pointer;
  width: 100%;
}
label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}
label.radio span {
  padding: 7px 14px;
  border: 2px solid #eee;
  display: inline-block;
  color: #039be5;
  border-radius: 10px;
  width: 100%;
  height: 48px;
  line-height: 27px;
}
label.radio input:checked + span {
  border-color: #039be5;
  background-color: #81d4fa;
  color: #fff;
  border-radius: 9px;
  height: 48px;
  line-height: 27px;
}
.form-control {
  margin-top: 10px;
  height: 48px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin: 6px auto;
  font-size: 14px;
  width: 90%;
  font-family: Montserrat-Medium;
}

.form-control::-webkit-input-placeholder {
  color: #000;
}
.dropdown-toggle {
  width: 90%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: White;
  color: #000;
  font-family: Montserrat-Medium;
  text-transform: uppercase;
  border: 1px solid #dddddd;
  font-size: 14px;
  padding: 12px 15px;
}
.form-control:focus {
  box-shadow: none;
  border: 1px solid #222222 !important;
}
.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: unset;
  background-color: unset;
  border-color: var(--bs-btn-active-border-color);
}
.dropdown-toggle:hover {
  background-color: unset;
  color: unset;
}
.input-group {
  width: 90%;
  margin: 0 auto;
}
.form-control:focus {
  box-shadow: none;
  border: 2px solid #039be5;
}
.agree-text {
  font-size: 12px;
}
.priceUSD a {
  color: #222222;
  font-family: Montserrat-Medium;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
}
.terms {
  font-size: 12px;
  text-decoration: none;
  color: #039be5;
}
.confirm-button {
  height: auto;
  border-radius: 5px;
  width: 90%;
  background-color: #006613;
  border: none;
}

.quote-section {
  background-color: #004aad;
  color: white;
  padding: 40px;
  border-radius: 8px;
  margin-bottom: 40px;
}

.quote-section h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.parent-why-sec {
  height: 100vh;
  overflow: hidden;
}

.why-us-section {
  padding: 5rem 0;
  background-image: url("../img/why-us.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.parent-why-sec {
  background-image: url(../img/why-us2.png);
  background-size: cover;
  height: 110vh;
  overflow: hidden;
  margin-top: -20rem;
}

.why-us-section h2 {
  font-family: "ITC-Garde-Bold";
  font-size: 50px;
  font-weight: 900;
  color: black;
  text-align: center;
}
.why-top p {
  font-family: Montserrat-Regural;
  color: #222222;
  font-weight: 600;
}
.icon-box {
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid #d2d5d7;
  border-radius: 25px;
  padding: 25px 15px;
  height: 260px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.icon-box img {
  animation: move 2.5s infinite alternate;
}

@keyframes move {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.icon-box p {
  line-height: 30px;
  font-family: Montserrat-Regural;
  font-weight: 600;
  font-size: 19px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-box:hover {
  background-color: white;
  border-radius: 25px 25px !important;
  border-bottom: 4px solid #006613 !important;
}
.icon-box h4 {
  font-family: ITC-GardePro-Bold;
  font-size: 35px;
  font-weight: 900;
  color: black;
  text-transform: uppercase;
  padding: 15px 0 0 0;
}
.icon-box img {
  width: 55px;
}

.how-it-works-section {
  background-color: #f8f9fa;
  padding: 5rem 0;
}

.how-it-works-section h2 {
  font-family: ITC-Garde-Bold;
  font-size: 50px;
  font-weight: 900;
  color: black;
  text-align: left;
  text-transform: uppercase;
}
.work-img {
  overflow: hidden;
  border-radius: 25px;
}
.work-img img:hover {
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
}
.how-it-works-section p {
  font-family: Montserrat-Regural;
  color: #222222;
  font-weight: 600;
  padding: 10px 0;
}

.work-content h4 {
  font-family: ITC-Garde-Bold;
  font-size: 25px;
  font-weight: 900;
  color: black;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.work-content > div img {
  width: 80px;
  animation: img_move 1s infinite alternate;
}

@keyframes img_move {
  0% {
    transform: scale(0.95);
    /* box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7); */
  }
  70% {
    transform: scale(1);
    /* box-shadow: 0 0 0 10px rgba(0, 0, 0, 0); */
  }
  100% {
    transform: scale(0.95);
    /* box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); */
  }
}

.sec-us-apart {
  background-image: url("../img/set-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  padding: 3rem 0;
}

.sec-us-apart h2 {
  font-family: "ITC-Garde-Bold";
  font-size: 50px;
  font-weight: 900;
  color: black;
  text-align: center;
}
.sec-us-apart p {
  font-family: Montserrat-Regural;
  color: #222222;
  font-weight: 600;
}
.part-box {
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid #d2d5d7;
  border-radius: 25px;
  padding: 40px;
  height: 290px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  overflow-y: scroll;
}
.part-box::-webkit-scrollbar {
  width: 7px;
}

.part-box::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border-radius: 12px;
  overflow: hidden;
}

.part-box::-webkit-scrollbar-thumb {
  background-color: #0047c4;
  /* outline: 1px solid slategrey; */
  border-radius: 12px;
}
.part-box ul li {
  list-style: disc;
  text-align: left;
  font-family: "ITC-GardePro-Bold";
}
.part-box h4 {
  font-family: "ITC-Garde-Bold";
  font-size: 35px;
  font-weight: 900;
  color: black;
  text-align: center;
}
.part-box:hover {
  background-color: #0047c4;
  color: white;
}
.part-box:hover h4,
.part-box:hover p {
  color: white;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}
.swiper-pagination {
  display: none;
}

.client-reviews-section {
  padding: 7rem 0;
  position: relative;
}

.counter-bg {
  background-image: url("../img/counter-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
  height: auto;
  padding: 3rem 0;
  width: 80%;
  margin: 2rem 0;
}
.sec-counter {
  display: flex;
  justify-content: center;
  margin-bottom: -150px;
}
.counter-content {
  text-align: center;
}
.counter-content img {
  animation: img_move 1s infinite alternate;
}

.counter-content h4 {
  font-family: "ITC-Garde-Bold";
  font-size: 50px;
  font-weight: 900;
  color: white;
  text-shadow: 2px 2px #ff5722ab;
  text-align: center;
  padding: 10px 0;
}
.counter-content p {
  font-family: "Montserrat-Medium";
  color: white;
  text-transform: uppercase;
}

.client-reviews-section h2 {
  font-family: "ITC-Garde-Bold";
  font-size: 50px;
  font-weight: 900;
  color: black;
  text-align: center;
}

.left-images {
  position: absolute;
  height: 426px;
  width: 387px;
  flex-wrap: wrap;
  display: grid;
  justify-content: space-around;
  /* margin: 0 auto; */
}

.unImg {
  display: flex;
  justify-content: end;
  width: 70px;
  margin-left: 60px;
}

.right-images {
  position: absolute;
  height: 426px;
  width: 387px;
  right: 0;
  /* top: 0; */
  flex-wrap: wrap;
  display: grid;
  justify-content: space-around;
  bottom: 0px;
  top: 120px;
}
.right-images .unImg {
  display: flex;
  justify-content: start;
  width: 70px;
  /* margin-left: 60px; */
  /* margin-right: -55px; */
  margin-left: -56px;
}

.left-images img,
.right-images img {
  width: 70px;
  animation: move-left-right 2.2s infinite alternate;
}

@keyframes move-left-right {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
.client-reviews-section .client-review {
  text-align: center;
  margin-bottom: 20px;
}

.client-reviews-section .client-review img {
  border-radius: 50%;
  margin-bottom: 10px;
}

.client-reviews-section .client-review p {
  font-style: italic;
}
.client-review h4 {
  color: #0047c4;
  font-family: "Montserrat-Bold";
}
.client-review p {
  font-style: unset !important;
}

.blogs-card .card-content {
  border: 1px solid #d2d5d7;
  margin: 1rem 0;
}
.card-content h3{
  font-family: "ITC-Garde-Bold";
  padding: 8px 0;
}
.card-content .card-p{
  font-family: 'ITC-GardePro-Bold';
  color: gray;
}
.card-content {
  transition: all 0.2s ease-in-out;
}
.card-content a {
  color: #000;
}
.card-content:hover a {
  color: white;
}
.card-content:hover {
  background-color: #006613;
  color: white;
  
}
.card-content:hover .card-p {
  color: white;
}

.sec-contact-form {
    margin-top: -110px;
    margin-bottom: 35px;
}
.sec-contact-form .form-control {
  /* margin-top: 10px; */
  height: unset;
 border-radius: 2px;
  border-radius: 5px;
  /* margin: 6px auto; */
  /* font-size: 14px; */
  width: 100%;
  font-family: Montserrat-Medium;
  padding-left: 75px;
}
.sec-contact-form .OrderBTN {
  padding: 12px 0;
}

.sec-contact-form textarea {
  height: 237px !important;
}
.address {
  border: 1px solid #d2d5d7;
  padding: 20px;
  align-items: center;
  gap: 20px;
}
.address a {
  color: #000;
}
.address img {
  width: 85px;
}
.address h4 {
  font-family: 'ITC-Garde-Bold';
}
.border-R i {
  border-right: 1px solid #d2d5d7;
  font-size: 20px;
  padding: 15px;
  margin-right: -68px;
  position: relative;
  color: #646464;
  /* clip-path: polygon(0 6%, 89% 6%, 90% 30%, 100% 39%, 90% 47%, 89% 75%, 0% 75%); */
}
.clip {
   clip-path: polygon(0 6%, 89% 6%, 90% 30%, 100% 39%, 90% 47%, 89% 75%, 0% 75%);
   height: 100px;
   display: block;
}

.work-content ul li {
  list-style: disc;
}

.dis-content h4 {
  font-family: ITC-Garde-Bold;
  font-size: 30px;
}
.dis-content ul li {
  list-style: disc;
}

/* testimonials */

.leftclip {
  width: 2px;
  height: 40px;
  background-color: #d8d8d8;
  position: relative;
  top: -50px;
}
.sp1 {
  width: 12px;
    height: 12px;
  background-color: #d8d8d8;
  display: block;
  border-radius: 100%;
  top: -11px;
  left: -5px;
  position: relative;
}
.sp2 {
  width: 12px;
    height: 12px;
  background-color: #d8d8d8;
  display: block;
  border-radius: 100%;
  top: 22px;
  left: -5px;
  position: relative;
}

.sec-testi .review-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 50px 0;
  height: 425px;
}
.sec-testi .review-card:hover {
  background-color: #f1f0f0;
}

.sec-testi .card-header {
  display: flex;
  align-items: center;
  margin-top: -20px;
}

.sec-testi .profile-pic {
  width: 80px;
  height: 75px;
  margin-right: 15px;
  /* object-fit: cover; */
}

.sec-testi .user-info h3 {
  margin: 0;
  font-size: 18px;
  font-family: 'ITC-Garde-Bold';
}

.sec-testi .user-info p {
  margin: 5px 0;
  font-size: 14px;
  color: #888;
}

.sec-testi .rating {
  color: #f5a623;
  font-size: 14px;
}

.sec-testi .card-pera p {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  margin-top: 10px;
  border: none;
  width: 85%;
}

.sec-testi .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
  color: #000;
}
.sec-testi .card-footer {
  font-family: 'ITC-GardePro-Bold';
}
.sec-testi .actions span i {
  color: #cbcbcb;
}
.sec-testi .actions span {
  cursor: pointer;
  margin-left: 10px;
  font-size: 18px;
}

/* testimonials */

footer {
  background-color: #101010;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  padding: 12rem 0 5rem 0;
  background-color: #101010;
  width: 90%;
  margin: 0 auto;
}
.unmail {
  word-break: break-all;
  /* display: block; */
  font-size: 14px;
}
.radioHeading {
  font-family: 'ITC-Garde-Bold';
    font-size: 20px;
    text-transform: uppercase;
}
.footer-section .border-bottom {
  display: block;
  border-bottom: 2px solid #0047c4 !important;
  width: 95px;
  margin: 2rem 0;
}

.footer-section img {
  width: auto;
  margin-top: -20px;
}
.footer-icons i {
  background-color: #0047c4;
  color: #ffffff;
  padding: 8px;
  border-radius: 100%;
  animation: img_move 1s infinite alternate;
}
.footer-section .top-icons i {
  background-color: white;
  padding: 10px 13px;
  border-radius: 100%;
  color: black;
  font-size: 22px;
}
.footer-section p {
  font-size: 14px;
  /* line-height: 1.6; */
  color: #888888;
  font-family: "Montserrat-Regural";
  padding: 10px 0 1.5rem 0;
}

.footer-section h3 {
  margin-bottom: 20px;
  color: white;
  font-family: "ITC-Garde-Bold";
  letter-spacing: 1px;
  font-size: 22px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.footer-section ul li img {
  margin-right: 10px;
  width: 20px;
}

.footer-section ul li a {
  color: #888888;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #08a826;
}

.footer-section .social-media {
  margin-top: 20px;
}

.footer-section .social-media a {
  margin-right: 15px;
  display: inline-block;
}

.footer-bottom {
  text-align: center;
  padding: 20px;
  background-color: #101010;
  border-top: 1px solid #444;
  width: 80%;
  margin: 0 auto;
}
.footer-bottom p {
  color: #b4b4b4;
}
.mesg-icon {
  position: absolute;
  right: 130px;
  bottom: 50px;
}
.mesg-icon img {
  animation: move-left-right 2.2s infinite alternate;
}
.footer-bottom p {
  margin: 5px 0;
  font-size: 14px;
}
footer .top-icons:hover i {
  background-color: #006613;
  color: white;
}

footer i.unfb {
  padding: 11px 23px !important;
}
.footer-bottom a {
  color: #b4b4b4;
  text-decoration: none;
}

.footer-bottom a:hover {
  color: #08a826;
}
.dropclose {
  display: none;
}
@media screen and (min-width: 1600px) and (max-width: 1900px) {
  .client-reviews-section .mySwiper {
    width: 100%;
    max-width: 900px;
  }
  .right-images {
    right: -8px;
  }
  .left-images {
    left: -39px;
  }
}
@media screen and (min-width: 1400px) and (max-width: 1600px) {
  .parent-icons {
    gap: 20px;
  }
  .client-reviews-section .mySwiper {
    width: 100%;
    max-width: 840px;
  }
  /* .right-images {
    right: -45px;
  }
  .left-images {
    left: -39px;
  } */
  .banner-2 {
    padding: 11rem 0;
  }
  .term-banner h1 {
    margin-top: -5rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .parent-icons {
    gap: 20px;
  }
  .hero-section h1 > img {
    margin-top: -25px;
    width: 45px;
  }
  .sec-service .card {
    margin: 1rem 0;
  }
  .navbar-nav .dropdown-content {
    width: 600px;
  }
  .hero-section {
    height: auto;
  }
  .footer-section img {
    width: 240px;
  }
  .footer-container .col-xl-4 {
    margin-right: auto;
  }
  .hero-section .mainPera p {
    width: 50%;
  }
  .hero-section .mainPera {
    display: grid;
    place-items: center;
  }
  .client-reviews-section .mySwiper {
    width: 100%;
    max-width: 840px;
  }
  .navbar-nav .nav-link {
    margin-right: 0;
  }
  .nav-item .btn {
    padding: 10px 13px;
    font-size: 12px;
  }
  .leave {
    right: -35px;
  }
  .leave2 {
    width: 223px;
  }
  .top-icons i {
    padding: 5px 6px;
  }
  .parent-icons {
    padding-left: 1rem !important;
  }
  .parent-icons {
    gap: 12px;
  }
  i.fa-facebook {
    padding: 5px 6px !important;
    width: 30px;
  }
  .parent-why-sec {
    height: 80vh;
  }
  .left-images {
    width: 170px;
  }
  .right-images {
    width: 120px;
  }
  .banner-2 {
    padding: 9rem 0;
  }
  .term-banner h1 {
    margin-top: -5rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .parent-icons {
    gap: 6px;
  }
  .client-reviews-section .mySwiper {
    width: 100%;
    max-width: 675px;
  }
  .navbar-brand img {
    width: 205px;
  }
  .navbar-nav .dropdown-content {
    width: 500px;
  }
  .blog-banner {
    padding: 12rem 0;
  }
  .footer-section h3 {
    margin-bottom: 0px;
    margin-top: 30px;
    /* font-size: 22px; */
}
  .hero-section h1 > img {
    margin-top: -25px;
    width: 45px;
  }
  .hero-section {
    height: auto;
  }
  .hero-section .mainPera p {
    width: 50%;
  }
  .hero-section .mainPera {
    display: grid;
    place-items: center;
  }
  .navbar-nav .nav-link {
    font-size: 13px;
  }
  .navbar-nav .nav-link {
    margin-right: 0;
  }
  .nav-item .btn {
    padding: 9px 10px;
    font-size: 12px;
  }
  .top-icons i {
    padding: 5px 6px;
    font-size: 16px;
  }
  .top-icons a span {
    font-size: 12px;
  }

  .parent-icons {
    padding-left: 1rem !important;
  }

  i.fa-facebook {
    padding: 5px 6px !important;
    width: 30px;
  }
  .parent-why-sec {
    height: 80vh;
  }
  .left-images {
    width: 170px;
  }
  .right-images {
    width: 120px;
  }
  .mesg-icon {
    right: 100px;
    bottom: 85px;
  }
  .top-nav {
    width: 73%;
  }
  .icon-box {
    height: 265px;
  }
  .icon-box h4 {
    font-size: 30px;
  }
  .banner-2 {
    padding: 8rem 0;
}
  .banner-2 .toFooter {
    left: 48%;
    bottom: 21px;
  }
  .term-banner h1 {
    margin-top: -5rem;
  }
  .footer-section ul li a {
    font-size: 14px;
  }
  .footer-section img {
    width: 250px;
  }
  .footer-section h3 {
    font-size: 17px;
  }
  .top-icons svg {
    width: 17px;
  }
  footer i.unfb {
    padding: 11px 20px !important;
  }
  .footer-section .top-icons i {
    font-size: 18px;
  }
  .footer-section img {
    width: 200px;
}
}

@media screen and (min-width: 991px) and (max-width: 1024px) {
  .icon-box {
    height: 280px;
  }
  .parent-why-sec {
    height: 78vh;
    margin-top: -28rem;
  }
}
@media screen and (min-width: 767px) and (max-width: 991px) {
  .hero-section h1 > img {
    margin-top: -25px;
    width: 45px;
  }
  .navDrop {
    padding: 8px 0;
  }
  .footer-section img {
    width: 300px;
  }
  .navbar-nav {
    align-items: start;
  }
  .navbar-nav .dropdown-content {
    width: 500px;
    /* margin-top: 14px; */
    position: absolute;
    top: -96px;
    left: 112px;
    z-index: 3;
    }
    .mobileRes .nav-item .btn {
      padding: 8px 16px;
    }
    .mobileRes {
      display: flex;
      margin-left: -20px;
    }
  .sec-testi .review-card {
    height: 473px;
  }
  .sec-service {
    margin-top: 0;
  }
  .sec-service .col-xxl-6 .card {
    margin-bottom: 4rem;
  }
  .hero-section {
    height: auto;
    background-size: inherit;
  }
  .term-banner {
    background-size: inherit;
  }
  .revision-banner {
    padding:16rem 0 !important;
  }
  .how-it-works-section h2 {
    font-size: 30px;
  }
  .sec-contact-form .col-xxl-4 {
    padding-top: 20px ;
  }
  .hero-section .mainPera p {
    width: 70%;
  }
  .hero-section .mainPera {
    display: grid;
    place-items: center;
  }
  .story-heading {
    padding: 10px 0;
  }
  .footer-section h3 {
    margin-bottom: 0px;
    margin-top: 30px;
    /* font-size: 22px; */
}
  .top-nav {
    width: 100%;
    clip-path: unset;
  }
  .parent-icons {
    gap: 6px;
  }
  .top-icons i {
    font-size: 15px;
  }
  .top-nav .container,
  .top-nav .row {
    width: 100%;
    max-width: 991px;
    margin: 0px;
    padding: 0px;
  }
  .icon-box h4 {
    font-size: 30px;
  }
  .navbar-brand img {
    width: 220px;
    margin-top: 0px;
  }
  .hero-section {
    padding: 8rem 0;
  }
  .parent-why-sec {
    height: 65vh;
  }
  .why-us-section {
    background-size: auto;
  }
  .work-img img {
    width: 70% !important;
    margin-top: 2rem;
  }
  .work-img {
    display: grid;
    place-items: center;
  }
  .work-content {
    display: grid;
    place-items: center;
  }
  .work-main-pera {
    text-align: center;
  }
  .footer-container {
    padding: 2rem 0 5rem 0;
  }
  .sec-counter {
    margin-bottom: 50px;
  }
  .counter-bg {
    background-position: unset;
    width: 90%;
    margin: 0;
    padding: 0;
  }
  .blog-banner {
    padding: 12rem 0;
  }
  .counter-content img {
    width: 55px;
  }
  .counter-content h4 {
    font-size: 35px;
  }
  .counter-bg {
    background-size: cover;
    padding: 16px 0;
  }
  .left-images {
    width: 164px;
    /* margin: 0 auto; */
    z-index: 2;
  }
  .right-images {
    width: 98px;
  }
  .client-reviews-section .mySwiper {
    width: 100%;
    max-width: 900px;
  }
  .right-images {
    top: -26px;
    display: block;
    z-index: 2;
  }
  .left-images {
    display: block;
    bottom: -96px;
    left: 17px;
  }
  .toFooter {
    left: 49%;
    bottom: 32px;
  }
  .mesg-icon {
    right: 80px;
    bottom: 83px;
  }
  .top-icons a span {
    font-size: 13px;
  }
  .dropdown-content option {
    font-size: 12px;
  }
}

@media screen and (min-width: 300px) and (max-width: 767px) {
  .hero-section h1 > img {
    margin-top: -25px;
    width: 45px;
  }
  .hero-section h1 {
    line-height: unset !important;
  }
  .sec-service .col-xxl-6 .card {
    margin-bottom: 4rem;
  }
  .part-box h4 {
    font-size: 24px;
  }
  .sec-testi .review-card {
    height: auto;
  }
  .navbar-nav {
    align-items: start;
  }
  .navbar-nav .dropdown-content {
    width: 353px;
    /* margin-top: 14px; */
    position: absolute;
    top: -79px;
    left: 108px;
    z-index: 3;
  }
  .dropdown-content option {
    font-size: 10px;
  }
  .navDrop {
    padding: 8px 0;
  }
    .mobileRes .nav-item .btn {
      padding: 8px 16px;
    }
    .mobileRes {
      display: flex;
      margin-left: -20px;
    }
  .w-25 {
    width: 100% !important;
  }
  .service-content h3 {
    font-size: 30px;
    text-align: center
  }
  .main-content h4 {
    font-size: 24px;
    text-align: center;
  }
  .top-nav {
    width: 100%;
    clip-path: unset;
  }
  .sec-contact-form .col-xxl-4 {
    padding-top: 20px ;
  }
  .how-it-works-section h2 {
    font-size: 30px;
  }
  .dis-content h4 {
    text-align: center;
  }
  .hero-section h1 {
    font-size: 35px;
  }
  .parent-icons {
    gap: 6px;
  }
  .top-icons i {
    font-size: 15px;
  }
  .blog-banner {
    padding: 12rem 0;
  }
  .w-50 {
    width: 100% !important;
  }
  .top-nav .container,
  .top-nav .row {
    width: 100%;
    max-width: 991px;
    margin: 0px;
    padding: 0px;
  }
  .navbar-brand img {
    width: 220px;
    margin-top: 0px;
  }
  .top-nav {
    width: 100%;
    clip-path: unset;
  }
  .price_BTN {
    justify-content: center;
  }

  .top-nav .container,
  .top-nav .row {
    width: 100%;
    max-width: 991px;
    margin: 0px;
    padding: 0px;
  }
  .navbar-brand img {
    width: 220px;
    margin-top: 0px;
  }
  .why-us-section {
    background-size: auto;
  }
  .work-img img {
    width: 70% !important;
    margin-top: 2rem;
  }
  .work-img {
    display: grid;
    place-items: center;
  }
  .work-content {
    display: grid;
    place-items: center;
  }
  .how-it-works-section p {
    text-align: center;
  }
  .sec-counter {
    margin-bottom: 50px;
  }
  .counter-bg {
    background-position: unset;
    width: 90%;
    margin: 0;
    padding: 0;
  }
  .counter-content img {
    width: 55px;
  }
  .counter-content h4 {
    font-size: 35px;
  }
  .counter-bg {
    background-size: cover;
    padding: 16px 0;
  }
  .left-images {
    width: 164px;
    /* margin: 0 auto; */
    z-index: 2;
  }
  .right-images {
    width: 98px;
  }
  .client-reviews-section .mySwiper {
    width: 100%;
    max-width: 900px;
  }
  .right-images {
    top: -26px;
    display: block;
    z-index: 2;
  }
  .left-images {
    display: block;
    bottom: -96px;
    left: 17px;
  }
  .toFooter {
    left: 49%;
  }
  .hero-section {
    height: auto;
  }
  .parent-why-sec {
    margin-top: -6rem;
    height: 53vh;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .icon-box {
    height: auto;
  }
  .why-us-section {
    background-image: unset;
  }
  .left-images img,
  .right-images img {
    width: 40px;
  }
  .right-images .unImg {
    width: 40px;
  }
  .footer-section img {
    width: 300px;
  }
  .parent-icons {
    padding: 10px 0 10px 0px;
    flex-wrap: wrap-reverse;
  }
  .price_BTN a {
    padding: 10px 10px;
  }
  .work-content p {
    text-align: left;
  }
  .how-it-works-section h2 {
    text-align: center;
  }
  .how-it-works-section .story-heading {
    padding: 20px 0 10px 0;
  }
  .work-main-pera {
    text-align: center !important;
  }
  .mesg-icon {
    right: 50px;
    bottom: 123px;
  }
  .footer-section h3 {
    margin-bottom: 0px;
    margin-top: 30px;
    font-size: 22px;
  }
  .footer-section .border-bottom {
    margin: 1rem 0;
  }
}

@media screen and (max-width: 476px) {
  .hero-section h1 {
    font-size: 35px;
  }
  .hero-section h1 > img {
    width: 40px;
  }
  .price-card h4 {
    font-size: 14px;
  }
  .dropdown-content .gap-5 {
    gap: 0 !important;
  }
  li.dropdown {
    width: 100%;
  }

  .dropclose {
    float: inline-end;
    font-family: 'ITC-GardePro-Bold';
    display: block;
  }
  .navbar-nav .dropdown-content {
    width: 100%;
    /* margin-top: 14px; */
    position: absolute;
    top: -79px;
    left: 0px;
    z-index: 3;
    }
  .mesg-icon img {
    width: 50px;
  }
  .footer-section img {
    width: 100%;
  }
  .mesg-icon {
    right: -26px;
    bottom: 153px;
  }
  .footer-bottom {
    position: relative;
  }
  .footer-section ul li a {
    font-size: 12px;
    text-wrap: nowrap;
  }
  .footer-bottom p {
    font-size: 13px;
  }
  .why-us-section h2 {
    font-size: 35px;
  }
  .how-it-works-section h2 {
    font-size: 35px;
  }
  .sec-us-apart h2 {
    font-size: 35px;
  }
  .client-reviews-section h2 {
    font-size: 35px;
  }
  .price_BTN a {
    font-size: 13px;
  }
  .toFooter {
    left: 46%;
  }
  .work-content .d-flex {
    display: block !important;
  }
}
@media screen and (max-width: 393px) {
  .mesg-icon {
    right: -26px;
    bottom: 191px;
  }
}
